/*.swiper-slide.custom-slide1 {
  transform: translateX(0%);
}

.swiper-slide.custom-slide2 {
  transform: translateX(50%);
}

.swiper-slide.custom-slide3 {
  transform: translateX(100%);
}*/
