<!DOCTYPE html>
<html class="js no-touch csstransitions filereader desktop landscape overthrow-enabled ng-scope to-landing cookie-open" data-ng-app="3xn">
<head>
	<title>4XN news</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- საიტის აიკონი, სადაც ჩატვირთვის ადგილას შეიძლება გამოჩნდეს ლოგო ან რაიმე ნიშანი. სამი მჭირდება ანდროიდზე რომ გამოჩნდეს? -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon_180.png">
	<link rel="icon" sizes="32x32" type="image/png" href="img/favicon_32.png">
	<link rel="icon" sizes="16x16" type="image/png" href="img/favicon_16.png">
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/swiper-bundle.css"> -->
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css"> <!-- The latest version -->
	<link rel="stylesheet" type="text/css" href="css/4xn.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/projects.css">
	<link rel="stylesheet" type="text/css" href="css/news.css">
</head>
<body id="trigger-icon">
	<div id="AppWrapper">
		<header id="Header" data-ng-controller="HeaderCtrl" class="ng-scope">
			<div class="overlay-menu"></div>
			<div class="nav active">
				<div class="container-fluid">
					<a href="index.html" class="logo-3xn" data-ui-sref="pageLanding">
						<img src="img/logo-3xn.svg">
					</a>
					<div class="wrap-bt-menu">
						<div class="icon-menu">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<a href="#;" class="logo-gxn">
						<img src="img/logo-gxn.svg">
					</a>
				</div>
			</div>
			<div class="menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-md-6 wrap-main-menu">
							<form class="search-wrapper ng-pristine ng-valid" action="">
								<div class="wrap-search">
									<a href="#"><i class="icon-search"></i></a> 
									<input type="search" placeholder="Search" class="ng-pristine ng-untouched ng-valid search-item" id="searchInput">
								</div>
							</form>
							<div id="noResultsMessage">No results found</div>
							<div id="totalResults"></div>
							<!-- <a ng-show="showSearch" class="link-cta back-to-menu ng-hide" href="#;" ng-click="backToMenu()">Back to menu</a> -->
							<div class="menu__wrapper hide-search">
								<ul class="inner-page"> 
									<li class="ng-scope news">
										<div class="ng-scope">
											<a class="ng-binding" href="news.html">News</a>
										</div>
									</li>
									<li class="ng-scope projects">
										<div class="ng-scope">
											<a class="ng-binding" href="projects.html">Projects</a>
										</div>
									</li>
									<li class="ng-scope profile">
										<div class="ng-scope">
											<a class="ng-binding" href="profile.html">Profile</a>
										</div>
									</li>
									<li class="ng-scope career">
										<div class="ng-scope">
											<a class="ng-binding" href="career.html">Career</a>
										</div>
									</li>
									<li class="ng-scope archive">
										<div class="ng-scope">
											<a class="ng-binding" href="archive.html">Archive</a>
										</div>
									</li>
									<li class="ng-scope people">
										<div class="ng-scope">
											<a class="ng-binding" href="people.html">People</a>
										</div>
									</li>
								</ul>
							</div>
							<div class="bottom">
								<div class="wrap-social-sharing ng-scope">
									<ul class="social-links ng-scope"></ul>
								</div>
								<ul class="social-links links-cookie">
									<li class="cookSet">
										<a href="#;">Cookie Settings</a>
									</li>
									<li class="cookPol">
										<a href="#;">Cookie Policy</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-md-6 wrap-extra-main-menu">
							<div class="bg-cover">
								<img alt="Ørestad College" src="img/07_023_Oerestad_Gymnasium_095_V.webp">
							</div>
							<a class="logo-gxn" href="#;">
								<img alt="gxn" src="img/logo-gxn-white.svg">
							</a>
							<div class="menu__wrapper">
								<ul class="inner-page">
									<li class="discover">
										<h3 class="head-line">Discover BXN, a creative studio with a concept of constant development and perfection.
										</h3>
									</li>
								</ul>
							</div>
							<div class="bottom">
								<ul>
									<li class="featPro">
										<a>Featured project: Untitled
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div id="Page">
			<div class="page-content ng-scope loaded" id="PageNews">
				<div class="container-fluid">
					<div class="row main-block">
						<div class="lasted-news-box sticky-with-parent blocked mouseover loaded setPin">
							<div class="current-page ng-binding">News</div>
							<h1 class="ng-binding">
								<p>News</p>
							</h1>
							<a href="#;">
								<div class="wrap-img">
									<div class="super-img ng-isolate-scope loaded dacposter">
										<img src="img/DACPOSTER.webp">
										<div class="click-gallery">click</div>
									</div>
								</div>
							</a>
							<div class="lasted-information">
								<h4 class="date ng-binding">7/2-2024</h4>
								<p class="ng-binding">'Conscious' - Exhibition at Georgian Architecture Center</p>
								<a class="link-cta" href="#;">Read article</a>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-1 right-content">
							<div class="row">
								<div class="col-md-12">
									<div class="related-news-box blocked loaded">
										<div class="current-page ng-binding">News</div>
										<h1 class="ng-binding">
											<p>News</p>
										</h1>
										<div class="row related-news-list ng-scope ng-isolate-scope">
											<div class="col-xs-6 related-news mouseover ng-scope">
												<h4 class="date ng-binding">8/1-2024</h4>
												<a href="#;">
													<div class="wrap-img">
														<div class="super-img ng-isolate-scope loaded">
															<img src="img/Gadehavegaard_30_credit_BenjaminHesselholdt_v.webp">
															<div class="click-gallery"></div>
														</div>
													</div>
												</a>
												<div class="related-des">
													<p class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt est</p>
													<a class="link-cta" href="#;">Read article</a>
												</div>
											</div>
											<div class="col-xs-6 related-news mouseover ng-scope">
												<h4 class="date ng-binding">18/12-2023</h4>
												<a href="#;">
													<div class="wrap-img">
														<div class="super-img ng-isolate-scope loaded">
															<img src="img/Fukuoka_gb1.webp">
															<div class="click-gallery"></div>
														</div>
													</div>
												</a>
												<div class="related-des">
													<p class="ng-binding">Excepteur sint occaecat 4XN’s non proident, sunt in culpa qui Japan</p>
													<a class="link-cta" href="#;">Read article</a>
												</div>
											</div>
											<div class="col-xs-6 related-news mouseover ng-scope">
												<h4 class="date ng-binding">16/12-2023</h4>
												<a href="#;">
													<div class="wrap-img">
														<div class="super-img ng-isolate-scope loaded">
															<img src="img/DSC09853_Credit_ZuhalKocan.webp">
															<div class="click-gallery"></div>
														</div>
													</div>
												</a>
												<div class="related-des">
													<p class="ng-binding">Duis aute irure dolor in reprehenderit in voluptate velit?</p>
													<a class="link-cta" href="#;">Read article</a>
												</div>
											</div>
											<div class="col-xs-6 related-news mouseover ng-scope">
												<h4 class="date ng-binding">13/12-2023</h4>
												<a href="#;">
													<div class="wrap-img">
														<div class="super-img ng-isolate-scope loaded">
															<img src="img/ResetMaterials_118_FotoHampusBerndtson_low.webp">
															<div class="click-gallery"></div>
														</div>
													</div>
												</a><div class="related-des">
													<p class="ng-binding">Consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
													<a class="link-cta" href="#;">Read article</a>
												</div>
											</div>
											<div class="col-xs-6 related-news mouseover ng-scope">
												<h4 class="date ng-binding">7/12-2023</h4>
												<a href="#;">
													<div class="wrap-img">
														<div class="super-img ng-isolate-scope loaded">
															<img src="img/Mares-Ext-01-copy.webp">
															<div class="click-gallery"></div>
														</div>
													</div>
												</a>
												<div class="related-des">
													<p class="ng-binding">4XN ullamco laboris nisi ut aliquip ex ea commodo</p>
													<a class="link-cta" href="#;">Read article</a>
												</div>
											</div>
											<div class="col-xs-6 related-news mouseover ng-scope">
												<h4 class="date ng-binding">16/11-2023</h4>
												<a href="#;">
													<div class="wrap-img">
														<div class="super-img ng-isolate-scope loaded">
															<img src="img/medarbejdere_gxn_20.webp">
															<div class="click-gallery"></div>
														</div>
													</div>
												</a>
												<div class="related-des">
													<p class="ng-binding">Duis aute irure dolor in reprehenderit in voluptate velit es nulla</p>
													<a class="link-cta" href="#;">Read article</a>
												</div>
											</div>
											<div class="col-xs-6 related-news mouseover ng-scope">
												<h4 class="date ng-binding">15/11-2023</h4>
												<a href="#;">
													<div class="wrap-img">
														<div class="super-img ng-isolate-scope loaded">
															<img src="img/750000_SKH_Programhandling-2_Render_Arenavagen-copy.webp">
															<div class="click-gallery"></div>
														</div>
													</div>
												</a>
												<div class="related-des">
													<p class="ng-binding">4XN sint occaecat cupidatat non proident, sunt culpa officia deserunt</p>
													<a class="link-cta" href="#;">Read article</a>
												</div>
											</div>
											<div class="col-xs-6 related-news mouseover ng-scope">
												<h4 class="date ng-binding">2/11-2023</h4>
												<a href="#;">
													<div class="wrap-img">
														<div class="super-img ng-isolate-scope loaded">
															<img src="img/8500015_BaltimoreHarborplace_Oct2023_View_Aerial.webp">
															<div class="click-gallery"></div>
														</div>
													</div>
												</a>
												<div class="related-des">
													<p class="ng-binding">4XN tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam</p>
													<a class="link-cta" href="#;">Read article</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer" id="Footer">
				<div class="container-fluid">
					<div class="row wrap-social-sharing ng-scope">
						<ul class="social-links ng-scope"></ul>
					</div>
					<div class="row wrap-address">
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">Tbilisi</p>
							<div class="address-des ng-binding ng-scope">
								<p>4XN Tbilisi A/S</p>
								<p>Rustaveli Ave 8</p>
								<p>2357 Tbilisi</p>
								<p>Georgia</p>
								<p>&nbsp;</p>
								<p>VAT: DK368749</p>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+995 358796</p>
								<a href="mailto:branch.email" class="ng-binding ng-scope">4xn@4xn.ge</a>
								<a class="link-cta ng-scope" href="#;">Read more</a>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">Berlin</p>
							<div class="address-des ng-binding ng-scope">
								<p>4XN Germany</p>
								<p>Bismarckstraße 15 A</p>
								<p>225 46&nbsp;Berlin</p>
								<p>Germany</p>
								<p>&nbsp;</p>
								<p>Org. nr.: 996845-5072</p>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+ 80 (0) 561610478</p>
								<a class="link-cta ng-scope" href="#;">Read more</a>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">New York</p>
							<div class="address-des ng-binding ng-scope">
								<p>4XN&nbsp;USA LLC</p>
								<p>248 Madison Ave</p>
								<p>Building 52, Floor 14, Unit 6</p>
								<p>Brooklyn, NY&nbsp;22568</p>
								<p>New York</p>
								<p>USA</p>
								<p>&nbsp;</p>
								<div></div>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+7 55 689 4566</p>
								<a href="mailto:branch.email" class="ng-binding ng-scope">nycoffice@4xn.us</a>
								<a ng-if="branch.slug" class="link-cta ng-scope" href="#;">Read more</a>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">Sydney</p>
							<div class="address-des ng-binding ng-scope">
								<p class="p1">
									<span class="s1">4XN&nbsp;Australia Pty. Ltd.</span>
								</p>
								<p>Shop 1, 369 Levonshire Street</p>
								<p>Hurry Hills MSW 3020</p>
								<p>Australia</p>
								<p>&nbsp;</p>
								<p>ABN 50 520 303 620</p>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+00 3 5888 4475 </p>
								<a class="link-cta ng-scope" href="#;">Read more</a>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">London</p>
							<div class="address-des ng-binding ng-scope">
								<p>4XN London Limited</p>
								<p>The Frames</p>
								<p>1 Oxford Street</p>
								<p>London&nbsp;EC5B 9RT</p>
								<p>United Kingdom</p>
								<p>&nbsp;</p>
								<p>VAT: GB657984132</p>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+66 5542 65875</p>
							</div>
						</div>
					</div>
					<div class="row d-block">
						<div class="col-xs-6 col-md-6 col-lg-4">
							<a ng-href="#;" data-target="_blank" class="link-cta cookie-link ng-binding" href="#;">Privacy policy</a> 
							<a class="link-cta cookie-link">Cookie Settings</a> 
							<a ng-href="#;" class="link-cta cookie-link" href="#;">Cookie Policy</a>
						</div>
						<div class="wrap-link-arrow trigger-container">
							<a href="#trigger-icon">
							<span class="link-with-arrow text-left">Back to top<i class="icon-arrow white up"></i></span>
							</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	





	<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
	<!-- <script type="text/javascript" src="js/popper.min.js"></script> -->
	<!-- თუ მინდა, რომ იმუშაოს toggler-მა bootstrap 5-ში, bootstrap.min.js უნდა გავთიშო -->
	<!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="js/bootstrap.bundle.js"></script>
	<!-- <script src="js/swiper-bundle.js"></script> -->
	<script type="text/javascript" src="js/swiper-bundle.min.js"></script> <!-- The latest version -->
	<script src="js/checkbox-filter.js"></script>
	<!-- <script src="js/TweenMax.min.js"></script> -->
	<script src="js/ScrollMagic.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/news.js"></script>


	<script type="text/javascript">
		// page reload to the top of the screen
		window.onbeforeunload = function () {
			window.scrollTo(0, 0);
		}
	</script>






	<!-- <script id="spai_js">var spai_doSelectors=[{"selectors":"[data-spai-bg-on]","type":"attr","targetAttr":"style","attrType":"style"},{"selectors":"style","type":"inner","attrType":"style"},{"type":"__stylesheet"}];var spai_exclusions={"selectors":[],"urls":{"regex:\/\\\/\\\/([^\\\/]*\\.|)gravatar.com\\\/\/":{"lazy":0,"cdn":0,"resize":0,"lqip":0,"crop":-1}}};
	</script> -->


</body>
</html>