<!DOCTYPE html>
<html class="js no-touch csstransitions filereader desktop landscape overthrow-enabled ng-scope to-landing cookie-open" data-ng-app="3xn">
<head>
	<title>ADN people</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- საიტის აიკონი, სადაც ჩატვირთვის ადგილას შეიძლება გამოჩნდეს ლოგო ან რაიმე ნიშანი. სამი მჭირდება ანდროიდზე რომ გამოჩნდეს? -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon_180.png">
	<link rel="icon" sizes="32x32" type="image/png" href="img/favicon_32.png">
	<link rel="icon" sizes="16x16" type="image/png" href="img/favicon_16.png">
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/swiper-bundle.css"> --> 
	<link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css"> <!-- The latest version -->
	<link rel="stylesheet" type="text/css" href="css/4xn.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/archive.css">
	<link rel="stylesheet" type="text/css" href="css/career.css">
	<link rel="stylesheet" type="text/css" href="css/people.css">
</head>
<body id="trigger-icon">
	<div id="AppWrapper">
		<header id="Header" data-ng-controller="HeaderCtrl" class="ng-scope">
			<div class="overlay-menu"></div>
			<div class="nav active">
				<div class="container-fluid">
					<a href="index.html" class="logo-3xn" data-ui-sref="pageLanding">
						<img src="img/logo-3xn.svg">
					</a>
					<div class="wrap-bt-menu">
						<div class="icon-menu">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<a href="#;" class="logo-gxn">
						<img src="img/logo-gxn.svg">
					</a>
				</div>
			</div>
			<div class="menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-md-6 wrap-main-menu">
							<form class="search-wrapper ng-pristine ng-valid" action="" data-ng-submit="submitSearch()">
								<div class="wrap-search">
									<a href="#"><i class="icon-search"></i></a> 
									<input type="search" placeholder="Search" data-ng-model="searchTerm" class="ng-pristine ng-untouched ng-valid search-item">
								</div>
							</form>
							<!-- <a ng-show="showSearch" class="link-cta back-to-menu ng-hide" href="#;" ng-click="backToMenu()">Back to menu</a> -->
							<div class="menu__wrapper hide-search">
								<ul class="inner-page"> 
									<li class="ng-scope">
										<div class="ng-scope">
											<a class="ng-binding" href="news.html">News</a>
										</div>
									</li>
									<li class="ng-scope">
										<div class="ng-scope">
											<a class="ng-binding" href="projects.html">Projects</a>
										</div>
									</li>
									<li ng-repeat="item in menu" class="ng-scope">
										<div class="ng-scope">
											<a class="ng-binding" href="profile.html">Profile</a>
										</div>
									</li>
									<li class="ng-scope">
										<div class="ng-scope">
											<a class="ng-binding" href="career.html">Career</a>
										</div>
									</li>
									<li class="ng-scope">
										<div class="ng-scope">
											<a class="ng-binding" href="archive.html">Archive</a>
										</div>
									</li>
									<li class="ng-scope">
										<div class="ng-scope">
											<a class="ng-binding" href="people.html">People</a>
										</div>
									</li>
								</ul>
							</div>
							<div class="bottom">
								<div class="wrap-social-sharing ng-scope">
									<ul class="social-links ng-scope"></ul>
								</div>
								<ul class="social-links links-cookie">
									<li>
										<a href="#;">Cookie Settings</a>
									</li>
									<li>
										<a href="#;">Cookie Policy</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-md-6 wrap-extra-main-menu">
							<div class="bg-cover">
								<img alt="Ørestad College" src="img/07_023_Oerestad_Gymnasium_095_V.webp">
							</div>
							<a class="logo-gxn" href="#;">
								<img alt="gxn" src="img/logo-gxn-white.svg">
							</a>
							<div class="menu__wrapper">
								<ul class="inner-page">
									<li>
										<h3 class="head-line">Discover ADN, a creative studio with a concept of constant development and perfection.
										</h3>
									</li>
								</ul>
							</div>
							<div class="bottom">
								<ul>
									<li>
										<a>Featured project: Untitled
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div id="Page" class="ng-scope">
			<div class="page-content page-detail page-content ng-scope" id="Page-">
				<div class="container-fluid">
					<div class="row teaser-top-content">
						<div class="ccol-xs-12 current-page ng-binding">People</div>
						<div class="col-xs-12 col-md-8 head">
							<h1 class="ng-binding">
								Head Office in Tbilisi with additional offices in Berlin, Sydney, New York and London
							</h1>
						</div>
					</div>
					<div class="md-offices">
						<h2>Offices</h2>
						<div class="row wrap-address">
							<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
								<p class="head ng-binding">Tbilisi</p>
								<div class="address-des ng-binding ng-scope">
									<p>ADN Tbilisi</p>
									<p>Rustaveli 8</p>
									<p>2357 Tbilisi</p>
									<p>Georgia</p>
									<p>&nbsp;</p>
									<p>VAT: DK368749</p>
								</div>
								<div class="more">
									<p class="ng-binding ng-scope">+995 358796</p>
									<a href="mailto:branch.email" class="ng-binding ng-scope">4xn@4xn.ge</a>
									<a class="link-cta" href="#;">Read more</a>
								</div>
							</div>
							<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
								<p class="head ng-binding">Berlin</p>
								<div class="address-des ng-binding ng-scope">
									<p>ADN Germany</p>
									<p>Bismarckstraße 15 A</p>
									<p>225 46&nbsp;Berlin</p>
									<p>Germany</p>
									<p>&nbsp;</p>
									<p>Org. nr.: 996845-5072</p>
								</div>
								<div class="more">
									<p class="ng-binding ng-scope">+ 80 (0) 561610478</p>
									<a class="link-cta" href="#;">Read more</a>
								</div>
							</div>
							<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
								<p class="head ng-binding">New York</p>
								<div class="address-des ng-binding ng-scope">
									<p>ADN&nbsp;USA LLC</p>
									<p>248 Madison Ave</p>
									<p>Building 52, Floor 14, Unit 6</p>
									<p>Brooklyn, NY&nbsp;22568</p>
									<p>New York</p>
									<p>USA</p>
									<p>&nbsp;</p>
									<div></div>
								</div>
								<div class="more">
									<p class="ng-binding ng-scope">+7 55 689 4566</p>
									<a href="mailto:branch.email" class="ng-binding ng-scope">nycoffice@4xn.us</a>
									<a class="link-cta" href="#;">Read more</a>
								</div>
							</div>
							<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
								<p class="head ng-binding">Sydney</p>
								<div class="address-des ng-binding ng-scope">
									<p class="p1">
										<span class="s1">ADN&nbsp;Australia Pty. Ltd.</span>
									</p>
									<p>Shop 1, 369 Levonshire Street</p>
									<p>Hurry Hills MSW 3020</p>
									<p>Australia</p>
									<p>&nbsp;</p>
									<p>ABN 50 520 303 620</p>
								</div>
								<div class="more">
									<p class="ng-binding ng-scope">+00 3 5888 4475</p>
									<a class="link-cta" href="#;">Read more</a>
								</div>
							</div>
							<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
								<p class="head ng-binding">London</p>
								<div class="address-des ng-binding ng-scope">
									<p>ADN London Limited</p>
									<p>The Frames</p>
									<p>1 Oxford Street</p>
									<p>London&nbsp;EC5B 9RT</p>
									<p>United Kingdom</p>
									<p>&nbsp;</p>
									<p>VAT: GB657984132</p>
								</div>
								<div class="more">
									<p class="ng-binding ng-scope">+66 5542 65875</p>
									<a class="link-cta" href="#;">Read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid detail-modules-wrapper ng-scope">
					<div class="row module-big_image mod-0">
						<div class="ng-scope">
							<div class="md-image">
								<div class="super-img ng-isolate-scope loaded">
									<img src="img/07_082_3XN_GXN_004_H.webp">
								</div>
								<p class="caption ng-binding ng-scope">Our office at Rustaveli 8</p>
							</div>
						</div>
					</div>
					<div class="row module-column_text mod-1">
						<div class="ng-scope">
							<h2 class="col-xs-12 ng-binding">Inquiries</h2>
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-12 col-md-3 ng-scope">
										<div class="title ng-binding">Press:</div>
										<div class="editor ng-binding">
											<p>Katherine Grimo<br>
												Head of PR<br>
												T: +00 2586 7246<br>
												<a href="mailto:kaa@3xn.dk">kag@4xn.ge</a><br>
												<a href="#;">Visit our Pressroom</a>
											</p>
										</div>
									</div>
									<div class="col-xs-12 col-md-3 ng-scope">
										<div class="title ng-binding">New projects and competitions:</div>
										<div class="editor ng-binding">
											<p>Sarah Gregory<br>
												Director of Business Development<br>
												T: +00 2579 36879<br>
												<a href="mailto:sro@3xn.dk">srg@4xn.ge</a>
											</p>
										</div>
									</div>
									<div class="col-xs-12 col-md-3 ng-scope">
										<div class="title ng-binding">Contact Ben Smith:</div>
										<div class="editor ng-binding">
											<p>Lee Marie Benjy<br>
												Secretary / Executive Assistant<br>
												T: +00 1205 5897<br>
												<a href="mailto:mje@3xn.dk">lmb@4xn.ge</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row module-contacts mod-2">
						<div class="ng-scope">
							<div class="wrap-content">
								<div class="row">
									<div class="col-xs-12 list-employee">
										<div class="row list-partner">
											<h2 class="col-xs-12">Partners</h2>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/KHN_2023_portrait_credit_3XN_ZuhalKocan.webp">
												</div>
												<h3 class="ng-binding">Mark Janashia</h3>
												<p class="ng-binding">Partner, Head of Design, Architect</p>
												<p class="ng-binding">+00 0247 3658<br>
													<a href="mailto:khn@3xn.dk" class="ng-binding">mkj@4xn.ge</a>
												</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/JAM_Jan_Ammundsen_2023_c_ZuhalKocan_WEB.webp">
												</div>
												<h3 class="ng-binding">Jimmy Pollini</h3>
												<p class="ng-binding">Founder, Partner, Creative Director, Architect</p>
												<p class="ng-binding">+33 2058 9963<br>
													<a href="mailto:khn@3xn.dk" class="ng-binding">jmp@4xn.ge</a>
												</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/JEH_2023_c_ZuhalKocan_web.webp">
												</div>
												<h3 class="ng-binding">Janna Helmut</h3>
												<p class="ng-binding">Senior Partner, Architect</p>
												<p class="ng-binding">+00 0035 9967<br>
													<a href="mailto:khn@3xn.dk" class="ng-binding">jnh@4xn.ge</a>
												</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/audun.TAUN6606.webp">
												</div>
												<h3 class="ng-binding">Aaron Oprod</h3>
												<p class="ng-binding">Partner, Head of Design, Architect</p>
												<p class="ng-binding">+00 6630 1200<br>
													<a href="mailto:khn@3xn.dk" class="ng-binding">aao@4xn.ge</a>
												</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/Stig_2021-771x1024.webp">
												</div>
												<h3 class="ng-binding">Stiv Anart</h3>
												<p class="ng-binding">Partner, Head of Design, Architect</p>
												<p class="ng-binding">+00 1115 0304<br>
													<a href="mailto:khn@3xn.dk" class="ng-binding">sva@4xn.ge</a>
												</p>
											</div>
										</div>
										<div class="row list-all">
											<h2 class="col-xs-12">People</h2>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/AFU.webp">
												</div>
												<h3 class="ng-binding">Abraham Tung</h3>
												<p class="ng-binding">Senior Architect</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/WEB_aco_2024_c_ZuhalKocan.webp">
												</div>
												<h3 class="ng-binding">Anton Colen</h3>
												<p class="ng-binding">Intern</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/3C4B5691-1-683x1024.webp">
												</div>
												<h3 class="ng-binding">Andro Gerk</h3>
												<p class="ng-binding">Architect</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/3C4B3952-773x1024.webp">
												</div>
												<h3 class="ng-binding">Anne Rajhan</h3>
												<p class="ng-binding">Architect</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/alro-683x1024.webp">
												</div>
												<h3 class="ng-binding">Alberto Bocelli</h3>
												<p class="ng-binding">Designer, Architecture</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/3C4B6291-1-683x1024.webp">
												</div>
												<h3 class="ng-binding">Anna Velington</h3>
												<p class="ng-binding">Sustainability Engineer, MSc. Architectural Engineering, ADN</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/DSC05173-768x1024.webp">
												</div>
												<h3 class="ng-binding">Joe Remington</h3>
												<p class="ng-binding">Architect</p>
											</div>
											<div class="col-xs-6 col-md-3 item-employee item-partner ng-scope">
												<div class="ratio-3x4 super-img ng-isolate-scope loaded">
													<img src="img/DSC01176-copy-768x1024.webp">
												</div>
												<h3 class="ng-binding">Anaida de Beluni</h3>
												<p class="ng-binding">Communications Assistant, ADN</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer" id="Footer">
				<div class="container-fluid">
					<div class="row wrap-social-sharing ng-scope">
						<ul class="social-links ng-scope"></ul>
					</div>
					<div class="row wrap-address">
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">Tbilisi</p>
							<div class="address-des ng-binding ng-scope">
								<p>ADN Tbilisi A/S</p>
								<p>Rustaveli Ave 8</p>
								<p>2357 Tbilisi</p>
								<p>Georgia</p>
								<p>&nbsp;</p>
								<p>VAT: DK368749</p>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+995 358796</p>
								<a href="mailto:branch.email" class="ng-binding ng-scope">4xn@4xn.ge</a>
								<a class="link-cta ng-scope" href="#;">Read more</a>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">Berlin</p>
							<div class="address-des ng-binding ng-scope">
								<p>ADN Germany</p>
								<p>Bismarckstraße 15 A</p>
								<p>225 46&nbsp;Berlin</p>
								<p>Germany</p>
								<p>&nbsp;</p>
								<p>Org. nr.: 996845-5072</p>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+ 80 (0) 561610478</p>
								<a class="link-cta ng-scope" href="#;">Read more</a>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">New York</p>
							<div class="address-des ng-binding ng-scope">
								<p>ADN&nbsp;USA LLC</p>
								<p>248 Madison Ave</p>
								<p>Building 52, Floor 14, Unit 6</p>
								<p>Brooklyn, NY&nbsp;22568</p>
								<p>New York</p>
								<p>USA</p>
								<p>&nbsp;</p>
								<div></div>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+7 55 689 4566</p>
								<a href="mailto:branch.email" class="ng-binding ng-scope">nycoffice@4xn.us</a>
								<a ng-if="branch.slug" class="link-cta ng-scope" href="#;">Read more</a>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">Sydney</p>
							<div class="address-des ng-binding ng-scope">
								<p class="p1">
									<span class="s1">ADN&nbsp;Australia Pty. Ltd.</span>
								</p>
								<p>Shop 1, 369 Levonshire Street</p>
								<p>Hurry Hills MSW 3020</p>
								<p>Australia</p>
								<p>&nbsp;</p>
								<p>ABN 50 520 303 620</p>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+00 3 5888 4475 </p>
								<a class="link-cta ng-scope" href="#;">Read more</a>
							</div>
						</div>
						<div class="col-xs-6 col-md-3 col-lg-2 ng-scope">
							<p class="head ng-binding ng-scope">London</p>
							<div class="address-des ng-binding ng-scope">
								<p>ADN London Limited</p>
								<p>The Frames</p>
								<p>1 Oxford Street</p>
								<p>London&nbsp;EC5B 9RT</p>
								<p>United Kingdom</p>
								<p>&nbsp;</p>
								<p>VAT: GB657984132</p>
							</div>
							<div class="more">
								<p class="ng-binding ng-scope">+66 5542 65875</p>
							</div>
						</div>
					</div>
					<div class="row d-block">
						<div class="col-xs-6 col-md-6 col-lg-4">
							<a ng-href="#;" data-target="_blank" class="link-cta cookie-link ng-binding" href="#;">Privacy policy</a> 
							<a class="link-cta cookie-link">Cookie Settings</a> 
							<a ng-href="#;" class="link-cta cookie-link" href="#;">Cookie Policy</a>
						</div>
						<div class="wrap-link-arrow trigger-container">
							<a href="#trigger-icon">
							<span class="link-with-arrow text-left">Back to top<i class="icon-arrow white up"></i></span>
							</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>




	<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
	<!-- <script type="text/javascript" src="js/popper.min.js"></script> -->
	<!-- თუ მინდა, რომ იმუშაოს toggler-მა bootstrap 5-ში, bootstrap.min.js უნდა გავთიშო -->
	<!-- <script type="text/javascript" src="js/bootstrap.min.js"></script> -->
	<script type="text/javascript" src="js/bootstrap.bundle.js"></script>
	<!-- <script type="text/javascript" src="js/swiper-bundle.js"></script> -->
	<script type="text/javascript" src="js/swiper-bundle.min.js"></script> <!-- The latest version -->
	<script type="text/javascript" src="js/script.js"></script>






</body>
</html>